@font-face {
    src: url(ebgaramondregular.woff2),
    url(ebgaramondregular.woff),
    url(ebgaramondregular.ttf);
    font-family: "EB Garamond";
    font-weight: normal;
}

@font-face {
    src: url(ebgaramondmedium.woff2),
    url(ebgaramondmedium.woff),
    url(ebgaramondmedium.ttf);
    font-family: "EB Garamond";
    font-weight: 500;
}

@font-face {
    src: url(interbold.woff2),
    url(interbold.woff),
    url(interbold.ttf);
    font-family: "Inter";
    font-weight: bold;
}

@font-face {
    src: url(interregular.woff2),
    url(interregular.woff),
    url(interregular.ttf);
    font-family: "Inter";
    font-weight: normal;
}

